.THIS.hidden {
    display: none;
}

.THIS.report-panel {
    width: 30vw;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid #B9B9BA;  /* Revature Secondary Color Light Grey */
    border-radius: 4px;
    margin-bottom: 20px;
}

.THIS .panel-header {
    background-color: #F26925;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.THIS .panel-body {
    padding: 15px;
}

.THIS .panel-header-title {
    color: #FFFFFF;
    font-size: 14px;
}

.THIS .trainee-button {
    float: right !important;
}

.THIS .trainee-button-icon {
    color: #FFFFFF;
    width: 1.3rem;
    height: 1.3rem;
}