.THIS.hidden {
    display: none;
}

.THIS.report-content-container {
    display: flex;
    flex-direction: column;
}

.THIS.panel-header, .THIS .panel-header {
    background-color: #F26925;
}

.THIS.trainee-button-icon, .THIS .trainee-button-icon {
    color: #FFFFFF;
    width: 1.8rem;
    height: 1.8rem;
    margin: 20%;
}